.downloadApp {
  background: #0e0f12;
  position: relative;
  &::before {
    content: "";
    background: url(../images/top-download-img.svg) no-repeat;
    background-position: right 0% bottom 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .downloadAppBlock {
    display: flex;
    padding-top: 183px;
    .phones {
      z-index: 1;
      position: relative;
      img {
        max-width: 620px;
        margin-right: 80px;
      }
    }
    .downloadContent {
      position: relative;
      z-index: 1;
      h2 {
        color: white;
        font-family: $supporting_font_bold;
        font-style: normal;
        font-weight: bold;
        font-size: 120px;
        line-height: 90%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        span {
          color: linear-gradient(135deg, $orange 50%, #dc603b 100%);
          background: linear-gradient(135deg, $orange 50%, #dc603b 100%);
          color: $orange;
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        color: white;
        font-family: $main_font_light;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 1px;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        a {
          background-color: white;
          color: $black;
          width: 100%;
          font-family: $main_font_bold;
          font-weight: 700;
          font-style: normal;
          font-size: 16px;
          line-height: 18px;
          border-radius: 100px;
          margin-bottom: 20px;
          padding: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: $orange;
          }
          svg {
            margin-right: 14px;
          }
        }
      }
    }
  }
  &.affiliate {
    background-color: $white;
    overflow: hidden;
    &::before {
      background: url(../images/outline-logo-bg-left.svg) no-repeat;
      background-position: left 28.5% top 34%;
      z-index: 1;
    }
    &::after {
      content: "";
      background-color: #000;
      position: absolute;
      top: -21.5%;
      left: -50%;
      width: 200%;
      height: 100%;
      transform: rotate(-7.6deg);
    }
    .downloadAppBlock {
      padding-top: 140px;
      .downloadContent {
        margin: 63px 40px 0 0;
        max-width: 365px;
        flex: 1 0 auto;
        @media (min-width: 991px) {
          margin: 63px 80px 0 0;
        }
        @media (min-width: 1200px) {
          max-width: 680px;
        }
        h2 {
          margin-bottom: 0;
          @media (min-width: 1200px) {
            font-size: 110px;
          }
        }
        p {
          font-size: 40px;
          text-transform: uppercase;
          letter-spacing: 0.02em;
          font-family: $supporting_font_bold;
          margin-bottom: 42px;
        }
        .buttons {
          max-width: 388px;
        }
      }
      .phones {
        img {
          display: block;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .downloadApp {
    &::before {
      background-size: 90%;
    }
    .downloadAppBlock {
      .phones {
        img {
          max-width: 420px;
          margin-right: 40px;
        }
      }
      .downloadContent {
        h2 {
          font-size: 62px;
          line-height: 90%;
        }
      }
    }
  }
}
// @media (max-width: 991px) {
//   .downloadApp {
//     &.affiliate {
//       .downloadAppBlock {
//         .phones {
//           img {
//             max-width: 420px;
//           }
//         }
//       }
//     }
//   }
// }
@media (max-width: 768px) {
  .downloadApp {
    display: flex;
    flex-direction: column;

    &::before {
      background-size: 100%;
    }
    .downloadAppBlock {
      display: flex;
      flex-direction: column-reverse;
      .phones {
        margin: 0 10px;
        margin-bottom: 40px;
        img {
          max-width: 85%;
          margin-right: 0px;
        }
      }
      .downloadContent {
        margin: 0 10px;
        h2 {
          font-size: 62px;
          line-height: 90%;
        }
      }
    }
    &.affiliate {
      .downloadAppBlock {
        flex-direction: column;
        .downloadContent {
          max-width: 100%;
          margin: 0 auto;
          padding: 0 10px;
          text-align: center;
          .buttons {
            margin: 0 auto;
          }
        }
        .phones {
          max-width: 320px;
          margin-left: calc(50% - 115px);
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 440px) {
  .downloadApp {
    &.affiliate {
      .downloadAppBlock {
        .phones {
          margin-left: calc(50% - 100px);
        }
      }
    }
  }
}
