.hero-running {
  text-align: center;
  color: $white;
  position: relative;

  .img-wrap {
    img {
      width: 100%;
    }
  }
  .text-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: -115px;
  }
  .text {
    color: #EAE9E9;
    font-family: $main_font_light;
    font-size: 16px;
    margin: 8px 0 0;
  }
}