.headerBanner {
  position: relative;
  .headerBannerImages {
    display: flex;
    justify-content: flex-end;
    .imageHeader.forPersonalUse {
      margin-right: -308px;
    }
  }
  .headerBannerContent {
    position: absolute;
    height: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 870px;
    h1 {
      font-family: $supporting_font_bold;
      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $black;
      max-width: 800px;
      line-height: 90px;
      span {
        display: block;
        font-size: 120px;
        line-height: 108px;
        color: $main_color;
      }
    }
    a.button {
      color: white;
      width: 276px;
      height: 50px;
      background-color: $black;
      display: inline-block;
      line-height: 50px;
      vertical-align: middle;
      text-align: center;
      border-radius: 100px;
      margin-top: 33px;
      transition: 0.3s;
      &:hover {
        background-color: $orange;
      }
    }
  }
}
.logowall {
  p {
    font-family: $Montserrat-Light;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    margin: 65px;
    span {
      font-family: $main_font_semibold;
      font-weight: 700;
    }
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 0 60px;
      margin-bottom: 40px;
      max-width: 202px;
      max-height: 61px;
    }
  }
}
.poppularDjs {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  padding-bottom: 140px;
  &:before {
    z-index: 1;
    content: "";
    display: inline-block;
    width: 200%;
    height: calc(100% - 280px);
    background: black;
    position: absolute;
    transform: rotate(-7deg);
    margin-left: -50%;
  }
  .poppularDjsBlock {
    padding: 160px 0;
    position: relative;
    z-index: 2;
    display: flex;
    .djs {
      display: flex;
      .djContent {
        width: 220px;
        border-radius: 8px;
        margin-top: 40px;
        &:first-child {
          margin-top: 0px;
        }
        .djBlock {
          position: relative;
          margin-right: 15px;
          margin-bottom: 20px;
          img {
            border-radius: 8px;
          }
          .text {
            position: absolute;
            bottom: 0;
            z-index: 3;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding: 12px;
            padding-top: 11px;
            padding-bottom: 6px;
            h6 {
              color: white;
              font-family: $main_font_bold;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 17px;
            }
            p {
              font-family: $main_font_semibold;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              color: white;
              line-height: 14px;
            }
          }
          .playIcon {
            position: absolute;
            top: 0;
            bottom: 40px;
            left: 0;
            right: 0;
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: auto;
          }
        }
      }
    }
  }
  .aboutMusic {
    margin-left: 163px;
    h2 {
      font-size: 80px;
      weight: 700;
      color: white;
      line-height: 100%;
      font-family: $supporting_font_bold;
      span {
        color: $orange;
      }
    }
    .subtitle {
      color: white;
      margin-bottom: 42px;
    }
    .musicList {
      li {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        display: flex;
        align-items: center;
        max-width: 430px;
        margin-bottom: 16px;
        padding: 6px;
        img {
          width: 52px;
          height: 52px;
        }
        .text {
          flex-grow: 1;
          margin-left: 15px;
          color: white;
          h4 {
            font-family: $main_font_bold;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
          }
          p {
            font-family: $main_font_semibold;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}
.RunLikeAnAthlete {
  position: relative;
  .RunLikeAnAthleteImage {
    width: 100%;
    margin-top: calc(-130px - 5vw);
    img {
      width: 100%;
    }
  }
  .RunLikeAnAthleteContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    display: inline-block;
    width: 600px;
    height: 200px;
    text-align: center;
  }
  h2 {
    font-family: $supporting_font_bold;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    color: white;
    span {
      color: $orange;
    }
  }
  p {
    font-family: $main_font_semibold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: white;
  }
  a.button {
    color: white;
    width: 300px;
    height: 50px;
    background-color: $orange;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 100px;
  }
}
.fitRadio {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  padding-bottom: 140px;
  .fitRadioBackground {
    padding-top: 100px;
    width: 75%;
    overflow: hidden;
    height: calc(100% - 280px);
    position: absolute;
    .background {
      z-index: 1;
      content: "";
      display: inline-block;
      width: 200%;
      height: calc(100% - 280px);
      background: black;
      position: absolute;
      transform: rotate(-7deg);
      margin-left: -50%;
    }
  }

  .fitRadioBlock {
    padding: 160px 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fitRadioText {
      max-width: 512px;
      margin-right: 128px;
      h2 {
        font-family: $supporting_font_bold;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 100%;
        /* identical to box height, or 80px */
        letter-spacing: 1px;
        color: white;
        span {
          color: $orange;
        }
      }
      .about {
        font-family: $main_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 1px;
        color: white;
        margin-bottom: 24px;
      }
      ul {
        padding-left: 60px;
        list-style-image: url("../../assets/images/icon-check.svg");
        li {
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          margin-bottom: 24px;
          color: white;
        }
      }
      a.button {
        color: white;
        width: 300px;
        height: 50px;
        background-color: $orange;
        display: inline-block;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        border-radius: 100px;
      }
    }
  }
}

.forgymsTrainers {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  padding-bottom: 140px;
  .forgymsTrainersBackground {
    padding-top: 100px;
    width: 75%;
    margin-left: 25%;
    overflow: hidden;
    height: calc(100% - 280px);
    position: absolute;
    .background {
      z-index: 1;
      content: "";
      display: inline-block;
      width: 200%;
      height: calc(100% - 280px);
      background: black;
      position: absolute;
      transform: rotate(-7deg);
      margin-left: -50%;
    }
  }

  .forgymsTrainersBlock {
    padding: 96px 0;
    padding-bottom: 180px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .forgymsTrainersText {
      max-width: 512px;
      margin-right: 128px;
      h2 {
        font-family: $supporting_font_bold;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 100%;
        /* identical to box height, or 80px */
        letter-spacing: 1px;
        color: white;
        span {
          color: $orange;
        }
      }
      .about {
        font-family: $main_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 1px;
        color: white;
        margin-bottom: 24px;
      }
      ul {
        padding-left: 60px;
        list-style-image: url("../../assets/images/icon-check.svg");
        li {
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          margin-bottom: 24px;
          color: white;
        }
      }
      a.button {
        color: white;
        width: 300px;
        height: 50px;
        background-color: $orange;
        display: inline-block;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        border-radius: 100px;
      }
    }
  }
}
.usersChooseFitradio {
  text-align: center;

  p {
    font-family: $main_font_bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $black;
  }
  h2 {
    font-family: $supporting_font_bold;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: $black;
    max-width: 795px;
    margin: auto;
    span {
      color: $orange;
    }
  }
  a.button {
    color: white;
    width: 300px;
    height: 50px;
    background-color: $orange;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 100px;
  }
}
.quote {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  padding-bottom: 140px;
  &:before {
    z-index: 1;
    content: "";
    display: inline-block;
    width: 200%;
    height: calc(100% - 280px);
    background: black;
    position: absolute;
    transform: rotate(-7deg);
    margin-left: -50%;
  }
  .quoteContent {
    z-index: 2;
    position: relative;
    padding: 160px 0;
    text-align: center;
    .quoteText {
      font-family: $main_font_light;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 120%;
      color: white;
      &::before {
        content: "";
        background-image: url("../../assets/images/quoteLeft.svg");
        width: 138px;
        height: 98px;
      }
      span {
        color: $orange;
      }
    }
    .quoteAutor {
      color: white;
      font-family: $main_font_bold;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }
    .quoteAutorPosition {
      color: white;
      font-family: $main_font_light;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
