.pricing-wrap {
  padding: 236px 0 277px;
  position: relative;
  &::before {
    content: "";
    background: url(../images/top-pricing-img.svg) no-repeat;
    background-position: 40px 0;
    position: absolute;
    top: -60px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  &::after {
    content: "";
    background: url(../images/bottom-pricing-img.svg) no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 320px;
    width: 382px;
  }
  @media (max-width: 991px) {
    padding: 90px 0 0;
  }
  .head-holder {
    text-align: center;
    margin: 0 0 83px;
    z-index: 2;
    position: relative;
    @media (max-width: 991px) {
      margin: 0 0 70px;
    }
    @media (max-width: 767px) {
      margin: 0 0 60px;
    }
    @media (max-width: 480px) {
      margin: 0 0 50px;
    }
  }
  .items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pricing-item + .pricing-item:not(:last-child) {
        margin: auto;
        margin-bottom: 60px;
      }
    }
  }
  .pricing-item {
    padding: 44px 24px 29px 24px;
    background-color: #111011;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 274px;
    z-index: 9;
    .text {
      display: none;
    }
    & + .pricing-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media (max-width: 991px) {
      max-width: 400px;
      margin: 0 auto 50px;
    }

    &.pricing-description {
      background-color: $white;
      max-width: 321px;
      box-shadow: 0px 30px 54px rgba(65, 62, 101, 0.296766);
      margin-top: 50px;
      padding: 25px 0px;
      position: relative;
      z-index: 12;
      .pricing-item__head {
        padding: 0 30px 0;
      }
      .item-title {
        color: #000;
        letter-spacing: 1px;
        font-family: $main_font_semibold;
        justify-content: flex-start;
        font-size: 16px;
        margin-bottom: 8px;
      }
      ul {
        li {
          justify-content: flex-start;
          font-size: 14px;
          padding: 0 29px;
          line-height: 1.2;
          &:not(:last-child) {
            border-bottom: 1px solid #eae9e9;
          }
        }
      }
    }

    &__head {
      text-align: center;
      padding: 0 0 13px;
      .item-sale {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        p {
          color: #0f0f10;
          font-size: 18px;
          font-family: $supporting_font_bold;
          background: $white;
          padding: 3px 16px;
          margin: 0;
          display: inline-block;
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
          border-radius: 2px;
        }
      }
      .item-title {
        font-size: 24px;
        font-family: $supporting_font_bold;
        letter-spacing: 2px;
        color: $orange;
        text-transform: uppercase;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .pro {
          color: #eba746;
          font-family: $main_font_semibold;
          font-size: 10px;
          padding: 3px 5px;
          background: rgba(235, 167, 70, 0.2);
          border-radius: 2px;
          margin-left: 10px;
        }
      }
      .item-price {
        color: $white;
        font-family: $supporting_font_bold;
        font-size: 40px;
        margin: 0;
        line-height: 1;
        @media (max-width: 991px) {
          font-size: 34px;
        }
        @media (max-width: 767px) {
          font-size: 28px;
        }
        .digit {
          font-size: 64px;
          line-height: 1;
          @media (max-width: 991px) {
            font-size: 58px;
          }
          @media (max-width: 767px) {
            font-size: 50px;
          }
        }
      }
      .item-billed {
        font-size: 18px;
        color: #5e6469;
        font-family: $supporting_font_bold;
        text-transform: uppercase;
        margin: 0;
      }
    }

    &__main {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 62px;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(#eae9e9, 0.1);
        }
        .img-ico {
          max-width: 32px;
          max-height: 32px;
        }
        .tooltip-wrapper {
          .img-ico {
            margin-top: 3px;
            max-width: 16px;
            max-height: 16px;
          }
        }
      }
    }
    &__foot {
      text-align: center;
      padding: 23px 0 0;
      p {
        font-size: 10px;
        line-height: 1.5;
        color: rgba($white, 0.75);
        padding: 40px 0 0;
      }
    }
  }

  .btn {
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    font-family: $main_font;
    padding: 18px 0 18px;
    letter-spacing: 0;
    text-transform: none;
    transition: all 0.25s;
    max-width: 100%;
    &:hover {
      background: $black;
    }
  }
  &.affiliate {
    padding: 0 0 196px;
    &::before {
      top: -120px;
      background-position: 15% -8%;
    }
  }
}

// tooltip
.tooltip-wrapper {
  cursor: help;
  position: relative;
  text-align: center;
  margin-left: 5px;
  z-index: 9;
  &:hover {
    .tooltip {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0px);
    }
  }
  .tooltip {
    background: $orange;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -89px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    width: 200px;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    &::before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &::after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid $orange 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }
}
@media (max-width: 1180px) {
  .pricing-wrap {
    .pricing-item {
      max-width: 230px;
      padding: 44px 12px 29px;
      &.pricing-description {
        max-width: 250px;
        padding: 15px 0;
      }
    }
  }
}
@media (max-width: 1000px) {
  .pricing-wrap {
    .pricing-item {
      max-width: 200px;
      padding: 44px 12px 29px;

      &.pricing-description {
        max-width: 250px;
        padding: 15px 0;
      }
    }
  }
}
@media (max-width: 900px) {
  .pricing-wrap {
    .pricing-item {
      max-width: 170px;
      padding: 44px 8px 29px;
      &__head .item-price .digit {
        font-size: 36px;
        line-height: 62px;
      }
      &__head .item-price {
        font-size: 24px;
        line-height: 62px;
      }
      &.pricing-description {
        max-width: 250px;
        padding: 15px 0;
      }
    }
  }
}
@media (max-width: 800px) {
  .pricing-wrap {
    .pricing-item {
      max-width: 155px;
      padding: 44px 8px 29px;
      &__head .item-price .digit {
        font-size: 36px;
      }
      &__head .item-price {
        font-size: 24px;
      }
      &.pricing-description {
        max-width: 250px;
        padding: 15px 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .pricing-wrap {
    .pricing-description {
      display: none;
    }
    .pricing-item {
      max-width: 300px;
      padding: 44px 24px 29px 24px;
      &__head .item-price .digit {
        font-size: 64px;
      }
      &__head .item-price {
        font-size: 40px;
      }
      .img-ico {
        display: none;
        &.mob {
          display: inline-block;
          vertical-align: top;
        }
      }
      .tooltip-wrapper {
        position: static;
        display: inline-block;
        .tooltip {
          left: 0;
        }
      }
      li.empty {
        display: none;
      }
      li {
        justify-content: start;
      }
      .text {
        display: block;
        color: #ffffff;
        font-size: 13px;
        position: relative;
      }
      &.pricing-description {
        max-width: 270px;
        padding: 25px 0;
        overflow: hidden;
      }
      // .tooltip-wrapper .tooltip {
      //   left: 0px;
      // }
    }
  }
}
