.cardio-coach {
  padding: 150px 0 100px;
  .title {
    font-size: 80px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  .txt {
    max-width: 600px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
  }
}

.slider {
  .slick-track {
    padding: 45px 0;
  }
  .slick-slide {
    margin: 0 15px;
  }
  .slider-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
    img {
      border-radius: 12px;
      width: 100%;
    }
  }
  .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 42px;
    height: 42px;
    z-index: 9;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
}

.cardio-coach-slider {
  .slider-item {
    color: $white;
    font-size: 32px;
    font-family: $supporting_font_bold;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 36.4%,
        rgba(0, 0, 0, 0.5) 83.04%
      );
    }
    .txt {
      position: absolute;
      font-size: 32px;
      bottom: 10px;
      left: 15px;
      z-index: 2;
    }
  }
  .slick-arrow {
    top: -10px;
    @media (min-width: 1200px) {
      top: -33px;
    }
    &.slick-prev {
      right: 12vw;
    }
    &.slick-next {
      right: 8vw;
      @media (min-width: 1200px) {
        right: 9.7vw;
      }
    }
  }
}

.community-section {
  text-align: center;
  .title {
    font-size: 80px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    max-width: 680px;
    margin: 0 auto 48px;
  }
  .txt {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 18px;
    font-family: $main_font_semibold;
    color: #5e6469;
  }
  .btn {
    margin: 0 auto;
  }
  .community-slider {
    padding: 80px 0;
    .slick-arrow {
      top: calc(50% - 21px);
      background-color: $white;
      border-radius: 50%;
      &.slick-prev {
        left: 1vw;
      }
      &.slick-next {
        right: 1vw;
      }
    }
  }
}
