.waiting-wrap {
  background-color: $orange;
  padding: 87px 0 98px;
  &.oblique {
    padding: 400px 0 98px;
    margin-top: -400px;
  }
  .waiting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @media (min-width: 992px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .title {
    font-family: $supporting_font_thin;
    color: $white;
    font-size: 64px;
    letter-spacing: 1.3px;
    line-height: 1.2;
    @media (max-width: 991px) {
      font-size: 58px;
    }
    @media (max-width: 767px) {
      font-size: 52px;
    }
    @media (max-width: 480px) {
      font-size: 44px;
    }
  }
  .txt {
    font-size: 16px;
    font-weight: 400;
    font-family: $main_font;
    color: $white;
    line-height: 1.4;
    max-width: 450px;
    letter-spacing: 1px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .btn-black {
    background-color: $black;
    border: 1px solid $black;
    border-radius: 100px;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    font-family: $main_font;
    transition: all 0.25s;
    padding: 16px 70px;
    margin: 22px 0 0;
    text-transform: none;
    letter-spacing: 0;
    &:hover {
      background-color: $orange;
      border: 1px solid $white;
      color: white;
    }
  }
  .content-wrap {
    @media (max-width: 991px) {
      text-align: center;
    }
    .txt {
      @media (max-width: 991px) {
        margin: 0 auto 20px;
      }
    }
    .btn {
      @media (max-width: 991px) {
        margin: 22px auto 0;
      }
    }
  }
  .download-wrap {
    color: $white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
    margin-top: 39px;
    a {
      & + a {
        margin-left: 10px;
      }
    }
  }
  .download-title {
    margin: 0 0 15px;
    font-family: $main_font_semibold;
    letter-spacing: 2px;
  }
}
@media (max-width: 1200px) {
  .waiting-wrap {
    .waiting-container {
      text-align: center;
      .txt {
        margin: auto;
      }
      a.btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .waiting-wrap {
    .waiting-container {
      a.btn {
        width: 276px;
      }
    }
    .download-wrap {
      a {
        & + a {
          margin-left: 0px;
          width: 150px;
          margin-top: 4px;
        }
      }
    }
    &.oblique {
      padding: 100px 0 65px;
      margin-top: -200px;
    }
  }
}
