.logowall {
  p {
    font-family: $main_font_light;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    margin: 65px;
    span {
      font-family: $main_font_semibold;
      font-weight: 700;
    }
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    img {
      margin: 0 60px;
      margin-bottom: 40px;
      max-width: 202px;
    }
    .rangetheory {
      height: 51px;
    }
    .f45 {
      height: 51px;
    }
    .d1 {
      height: 57px;
    }
    .ncfit {
      height: 44px;
    }
    .ufc {
      height: 41px;
    }
    .lifetime {
      height: 61px;
    }
    .xtendbarre {
      height: 32px;
    }
    .goldsgym {
      height: 60px;
    }
  }
  &.dark-bg {
    padding: 50px 0 200px;
    color: $white;
    background-color: $black;
    margin-bottom: -220px;
  }
}
@media (max-width: 1200px) {
  .logowall {
    .logos {
      max-width: 760px;
      img {
        margin: 0 30px;
        margin-bottom: 40px;
      }
    }
  }
}
@media (max-width: 460px) {
  .logowall {
    .logos {
      // display: flex;
      width: 100%;
      picture {
        width: 50%;
        text-align: center;
        img {
          // width: auto;
          // max-width: 100%;
          height: auto;
          margin: 0 15px;
          margin-bottom: 40px;
        }
        .rangetheory {
          height: 25px;
        }
        .f45 {
          height: 25px;
        }
        .d1 {
          height: 28px;
        }
        .ncfit {
          height: 22px;
        }
        .ufc {
          height: 20px;
        }
        .lifetime {
          height: 30px;
        }
        .xtendbarre {
          height: 16px;
        }
        .goldsgym {
          height: 30px;
        }
      }
    }
  }
}
