.poppularDjs {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  padding-bottom: 140px;
  &:before {
    z-index: 1;
    content: "";
    display: inline-block;
    width: 200%;
    height: calc(100% - 280px);
    background: black;
    position: absolute;
    transform: rotate(-6.8deg);
    margin-left: -50%;
  }
  .poppularDjsBlock {
    padding: 130px 0;
    position: relative;
    z-index: 2;
    display: flex;
    .djs {
      display: flex;
      .djContent {
        border-radius: 8px;
        margin-top: 60px;
        &:first-child {
          margin-top: 20px;
        }
        .djBlock {
          display: block;
          width: 220px;
          position: relative;
          margin-right: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          overflow: hidden;
          border-radius: 8px;
          .playIcon {
            .playCircle {
              transition: 0.3s;
            }
          }
          img {
            transition: 0.3s;
          }
          &:hover {
            img {
              transform: scale(1.05);
            }
            .playIcon {
              .playCircle {
                fill: $orange;
              }
            }
          }
          img {
            border-radius: 8px;
          }
          .text {
            position: absolute;
            bottom: 0;
            z-index: 3;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding: 12px;
            padding-top: 9px;
            padding-bottom: 8px;
            h6 {
              color: white;
              font-family: $main_font_bold;
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
            }
            p {
              font-family: $main_font_light;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              color: white;
              line-height: 14px;
            }
          }
          .playIcon {
            position: absolute;
            top: 0;
            bottom: 60px;
            left: 0;
            right: 0;
            width: 66px;
            height: 66px;
            display: inline-block;
            margin: auto;
            &.konfliktIcon {
              bottom: 30px;
            }
          }
        }
      }
    }
  }
  .aboutMusic {
    margin-left: 148px;
    h2 {
      font-size: 80px;
      font-weight: 700;
      color: white;
      line-height: 100%;
      font-family: $supporting_font_bold;
      max-width: 480px;
      letter-spacing: 1px;
      margin-bottom: 6px;
      span {
        color: $orange;
      }
    }
    .subtitle {
      color: white;
      margin-bottom: 42px;
      font-family: $main_font_light;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 1px;
    }
    .musicList {
      a {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        display: flex;
        align-items: center;
        max-width: 430px;
        margin-bottom: 16px;
        padding: 6px;
        cursor: pointer;
        transition: 0.3s;
        .playIcon {
          transition: 0.3s;
          .playCircle {
            transition: 0.3s;
          }
        }
        &:hover {
          .playIcon {
            transform: scale(1.1);
            .playCircle {
              fill: $orange;
            }
          }
        }
        img {
          width: 52px;
          height: 52px;
        }
        .playIcon {
          width: 44px;
          height: 44px;
          margin-right: 10px;
        }
        .text {
          flex-grow: 1;
          margin-left: 15px;
          color: white;
          h4 {
            font-family: $main_font_bold;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
          }
          p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            opacity: 0.75;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .poppularDjs {
    .poppularDjsBlock {
      padding: 130px 0;
      position: relative;
      z-index: 2;

      .djs {
        display: flex;
        flex-direction: column;
        .djContent {
          margin-top: 0px;
          &:first-child {
            margin-top: 0px;
          }
        }
      }
    }
    .aboutMusic {
      margin-left: 0px;
    }
  }
}
@media (max-width: 768px) {
  .poppularDjs {
    margin-top: -60px;
    .poppularDjsBlock {
      flex-direction: column-reverse;
      .djs {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        .djContent {
          width: 45%;
          .djBlock {
            width: 100%;
            picture {
              width: 100%;
              img {
                width: 100%;
              }
            }
            .text {
              padding: 6px;
              padding-top: 4px;
              padding-bottom: 4px;
              h6 {
                font-size: 9px;
                line-height: 10px;
              }
              p {
                margin: 0;
                font-size: 8px;
                color: #fff;
                line-height: 9px;
              }
            }
            .playIcon {
              transform: scale(0.7);
              top: 25px;
            }
            .konfliktIcon {
              top: 0px;
            }
          }
        }
      }
    }
    .aboutMusic {
      h2 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 62px;
        line-height: 90%;
      }
      p {
        margin-left: 20px;
        margin-right: 20px;
      }
      .musicList {
        li {
          margin: 0 20px;
          a {
            margin-left: auto;
            margin-right: auto;
          }
        }
        p {
          margin-left: 0px;
        }
      }
    }
  }
}
